  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    background-color: #2c3e50;
    font-size: 10px;
    text-rendering: optimizeLegibility;
  }

  body {
      height: 100%;
  }

  .hand {
    display: flex;
    border: 0.5em solid #2980b9;
    justify-content: center;
  }

  .card {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: #ecf0f1;
  }
    
  .hand-card {
    margin: 0 1rem;
    height: 15rem;
    width: 15rem;
    font-size: 5rem;
  }

  .battleline-card {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 2.5em;
    width: 2em;
    font-size: 2em;
  }
  
  .attack-value {
      color: red;
      font-size: .6em;
      display: block;
      padding: 0 .15em;
  }

/* 
============================
UNIT IMAGES
============================ 
*/

  .mercenary {
    background-image: url("./images/mercenary.svg");
  }

  .courtesan {
    background-image: url("./images/courtesan.svg");
  }
  
  .heroine {
    background-image: url("./images/heroine-dragon.svg");
  }
  
  .winter {
    background-image: url("./images/winter.svg");
  }

  .spring {
    background-image: url("./images/spring.svg");
  }

  .scarecrow {
    background-image: url("./images/scarecrow.svg");
  }

  .bishop {
    background-image: url("./images/bishop.svg");
  }

  .surrender {
    background-image: url("./images/surrender.svg");
  }

  .drummer {
    background-image: url("./images/drummer.svg");
  }